.Pagination {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.Pagination-wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.Pagination-item {
  padding: 0px 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 400;
}
.Pagination-item_active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
.Pagination-item_split {
  cursor: default;
  color: lightgray;
}
.Pagination-item:hover {
  background-color: lightgray;
  color: black;
}
