.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  color: #007bff;
  font-weight: 400;
  font-size: 18px;
}

.nav-item a:hover {
  color: #0056b3;
}
